[submodule "my.vim/bundle/nerdtree"]
	path = my.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "my.vim/bundle/vim-surround"]
	path = my.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "my.vim/bundle/ack.vim"]
	path = my.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "my.vim/bundle/tabular"]
	path = my.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "my.vim/bundle/vim-colors-solarized"]
	path = my.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "my.vim/bundle/nerdcommenter"]
	path = my.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "my.vim/bundle/syntastic"]
	path = my.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "my.vim/bundle/vim-airline"]
	path = my.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "my.vim/bundle/vim-easymotion"]
	path = my.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "my.vim/bundle/vim-trailing-whitespace"]
	path = my.vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "my.vim/bundle/neocomplcache.vim"]
	path = my.vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "my.vim/bundle/jedi-vim"]
	path = my.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "my.vim/bundle/neosnippet"]
	path = my.vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule "my.vim/bundle/unite"]
	path = my.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
